// Base
// --------------------------------------------------

* {
  box-sizing: border-box;
}

html {
	height: 100%;
  overflow-y: scroll;
}

body, button, input {
	@include font-feature-settings("kern","liga");

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
	min-height: 100%;
  font-family: $base-font-family;
  color: $base-text-color;
  line-height: $base-line-height;
  background-color: $background-color;
  -webkit-text-size-adjust: none;
  font-size: 1em;

  @include media($tablet) {
    font-size: 1.25em;
  }
}

// Selection
::selection {
  background-color: #000;
  color: #fff;
}

::moz-selection {
  background-color: #000;
  color: #fff;
}

// Fonts
@include font-face("Ionicons", "../fonts/ionicons", $file-formats: eot svg ttf woff);

// Containers
.container {
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);

	background-size: cover;
	min-height: 100vh;
}

.box {
	text-align: center;
	padding: 2em;
	max-width: 32em;
}

// Logo
.logo {
	display: block;
	margin-bottom: 0.5em;

	img {

	}
}

// Text
.heading {
	line-height: $heading-line-height;
	color: $heading-text-color;
	margin-top: 0;
	margin-bottom: 0.5em;
}

.p {
	margin-top: 0;
	margin-bottom: 1.5em;
}

// Form
.email {
	width: 100%;
	border-radius: $form-border-radius;
	color: #473C47;
	padding: 0.8em 1em;
	margin-bottom: 0.6em;
	border: $form-border;

	&:focus {
		outline: none;
		border-color: darken($form-border-color, 25%);
	}

	@include placeholder {
  	color: #B5B1B5;
	}

	@include media($medium) {
		width: 50%;
		border-radius: $form-border-radius 0 0 $form-border-radius;
		padding: 0.8em 0 0.8em 1em;
		margin-bottom: 0;
	}
}

.button {
	@include transition(all 0.3s);

	width: 100%;
	border-radius: $form-border-radius;
	background-color: $button-background-color;
	color: $button-text-color;
	padding: 0.8em 1em;

	@if ($form-border-visible == true) {
		border: $form-border-width solid $button-background-color;
	} else {
		border: none;
	}
	
	&:hover {
		background-color: darken($button-background-color, 10%);
		border-color: darken($button-background-color, 10%);
	}

	@include media($medium) {
		width: auto;
		border-radius: 0 $form-border-radius $form-border-radius 0;
		margin-left: -10px;
		padding: 15px 25px;
	}
}
